body{
	background:#E9F1F6;/*霜色*/
	min-width: 800px;
}
#navigation{
	margin-left: -10px;
	margin-top: 70px;
	float: left;
	width:15%;
	text-align: center;
	font-size: 18px;
	vertical-align: middle;
	line-height: 50px;
}
a.nav:link, a.nav:visited{
	color: black;
	text-decoration:none;
}
a.nav:hover{
	text-decoration:none;
	font-size: 20px;
}
a.now:link, a.now:visited{
	color: black;
	text-decoration:none;
	font-weight: bold;
}
a.now:hover{
	text-decoration:none;
	font-weight: bold;
	font-size: 20px;
}
.homepage{
	background: #a3c5da;
	height: 50px;
	width: 80px;
}
.kunqu_tools{
	background:#dbf0e3;
	height: 50px;
	width: 80px;
}
.rusheng{
	background:#dbf0e3;
	height: 50px;
	width: 80px;
}
.jiantuan{
	margin-left: -10px;
	height: 50px;
	width: 80px;
}
.sub{
	text-align: left;
	margin: -10px 0 0px 30px;
	line-height: 25px;
	height: 60px;
}
.kunqu_tools{
	background:#f6e9f1;
	height: 50px;
	width: 80px;
}
.about{
	background:#fcf9f7;
	height: 50px;
	width: 80px;
}
#gui{
	float: left;
	width: 65%;
}
button{
	font-size: 14px;
}
img{
	text-align: left;
	margin:0px 10px -6px 100px;
}

h1{
	margin-left: -100px;
	font-size: 28px;
	text-align: left;
	margin-bottom: 40px;
}

.result{
	margin-top: 20px;
	width: 360px;
	height: 300px;
	font-size: 18px;
}
.empty{
	height: 40px;
}
#sidebar{
	margin-left: 20px;
	float: left;
	width:15%;
	text-align: left;
	padding-top: 100px;
	height: 500px;
	font-weight: bold;
}
a.side{
	padding-left: 20px;
	text-decoration:none;
	color: #305b75;
	font-weight: normal;
}